.produit {
  color: white;
}
.img-prod {
  margin-top: -3rem;
  margin-left: -20rem;
  width: 30%;
}

@media only screen and (max-width: 912px) {
  .img-prod {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 25%;
    margin-bottom: 1rem;
  }
}
