.footer {
  display: flex;
  margin: 5rem;
}
.sec {
  width: 15rem;
  margin: 4rem;
  color: white;
}

@media only screen and (max-width: 280px) {
  .sec {
    width: 1rem;
    margin: 0rem;
    color: white;
  }
}
